body {
    /*background-color: #c0c0c0;*/
    text-align: center;
    margin: auto;
    border-top: 0px;
}

#title {
    text-align: center;
    color: white;
    background-color: rgb(85,85,85);
    font-size: 60px;
    padding: 50px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}