body {
    /*background-color: #c0c0c0;*/
    text-align: center;
    margin: auto;
    border-top: 0px;
}

#title {
    text-align: center;
    color: white;
    background-color: rgb(85, 85, 85);
    font-size: 60px;
    padding: 50px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reg_button,
#practice_exam_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: orange;
    color: black;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 10px;
    border-radius: 12px;
}

#faq {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#faq>ul {
    font-size: 18px;
    text-align: left;
}

#faq>ul>li {
    padding-bottom: 15px;
}

#faq>ul>li>b {
    padding-bottom: 7px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}