body {
    /*background-color: #c0c0c0;*/
    text-align: center;
    border-top: 0px;
    margin: auto;
}

#practice_exam {
    margin-left: 20%;
    margin-right: 20%;
}

#practice_exam>#info_section {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#practice_exam>#info_section>#field {
    margin-top: 30px;
    margin-bottom: 30px;
}

#practice_exam>#info_section>#field>label {
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
}

#practice_exam>#info_section>#field>input[type=text] {
    border: 1.5px solid black;
}

#practice_exam>#info_section>#field>input[type=email] {
    border: 1.5px solid black;
}

.question {
    text-align: left;
    margin-bottom: 50px;
    font-size: 18px;
    font-family: "Computer Modern Serif";
}

.question>#wrapped_text {
    font-size: 18pt;
    font-family: "KaTeX_Main";
}

.question>#field {
    margin-left: 50px;
    height: 40px;
    width: 100px;
}

.question>#field_not_inline {
    margin: 0px;
    height: 40px;
    width: 100px;
}

.question>input[type=text] {
    border: 1.5px solid black;
    margin-left: 30px;
    height: 30px;
    width: 100px;
}

.question>#wrapped_text>input[type=text] {
    border: 1.5px solid black;
    margin-left: 30px;
    height: 30px;
    width: 100px;
}

.question>img {
    display:block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#overlapping_circles {
    width: 75%;
}

#triangles {
    width:75%;
}

#grid {
    width: 50%;
}

#pascals_triangle {
    width: 80%
}

#title {
    text-align: center;
    color: white;
    background-color: rgb(85, 85, 85);
    font-size: 60px;
    padding: 50px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    margin-top: 10px;
    padding: 7px;
    font-family: "Computer Modern Serif";
    font-size: 20px;
    background-color: rgb(216, 148, 21);
    font-weight: bold;
}

#submit {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: orange;
    color: black;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 10px;
    border-radius: 12px;
}

#end_space {
    height: 300px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18pt;
  font-family: "KaTeX_Main";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-family: "KaTeX_Main";
  font-size: 18pt;
}

.katex-html {
    font-size: 18pt;
}

#homer_donuts {
    display:block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}