body {
    /*background-color: #c0c0c0;*/
    text-align: center;
    width: 1000px;
    margin: auto;
    padding: 50px;
    font-family: "Computer Modern Serif", sans-serif;
    background-image: url(../images/site_background.jpg);
}
h1 {
    text-align: center;
    color: purple;
}

img {
    width: 650px;
}

/* Add a black background color to the top navigation */
.topnav {
  /*background-color: #333;
  overflow: hidden;
  width:50%;
  height:fit-content;*/
    border:1px solid #ccc;
    background-color: #333;
    border-width:1px 0;
    list-style:none;
    margin:auto;
    padding:0px;
    text-align:center;
}

/* Style the links inside the navigation bar */
.topnav a {
  display:inline-block;
  padding-left:30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  color: #f2f2f2;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: purple;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: purple;
  color: white;
}